@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-gray: #fff;
  --background: #111010;
  --foreground: #262626;
  --border: #363636;
  --secondary: #5b5b66;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  color: var(--light-gray);
}
